<html>
<head></head>
<body>
<h1>Add a Comment</h1>
<li>
<form action="/addcomment" method="POST">
<textarea name="comment" placeholder="Comment"></textarea>
<input type="hidden" name="postId" value="{{postid}}" />
<button type="submit">Submit Comment</button>
</li>
</body>
</html>